/* css document */
* {
	font-family:微软雅黑;
}
.resizedivclass
{
position:relative;
background-color:#dedbd6;
width:2;
z-index:1;
left:expression(this.parentelement.offsetwidth-1);
cursor:e-resize;

}
a:visited {
	text-decoration: none
}
a:active {
	text-decoration: none
}
a:hover {
	text-decoration: underline overline
}
a:link {
	text-decoration: none
}
.t {
	line-height: 1.4
}
body {
	background-color:#ffffcc;
	font-size: 10pt;
	scrollbar-highlight-color: buttonface;
	scrollbar-shadow-color: buttonface;
	scrollbar-3dlight-color: buttonhighlight;
	scrollbar-track-color: #eeeeee;
	scrollbar-darkshadow-color: buttonshadow;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td {
	font-family: ??; font-size: 9pt
}
div {
	font-family: ??; font-size: 9pt
}
form {
	font-family: ??; font-size: 9pt
}
option {
	font-family: ??; font-size: 9pt
}
p {
	font-family: ??; font-size: 9pt
}
td {
	font-family: ??; font-size: 9pt
}
br {
	font-family: ����; font-size: 9pt
}

textarea {
	background-color: #ffffcc; border-bottom-color: #000000; border-bottom-width: 1px; border-left-color: #000000; border-left-width: 1px; border-right-color: #000000; border-right-width: 1px; border-top-color: #000000; border-top-width: 1px; font-family: ���� ; font-size: 9pt
}
select {
	background-color: #ffffcc; border-bottom-color: #000000; border-bottom-width: 1px; border-left-color: #000000; border-left-width: 1px; border-right-color: #000000; border-right-width: 1px; border-top-color: #000000; border-top-width: 1px; font-family: ���� ; font-size: 9pt
}

.gray {
	cursor: pointer; filter: gray
}
.style3 {
	font-size: 16px;
	font-weight: bold;
}
.table_style1{
	border: 1px solid;
	border-color:#000000;
	border-collapse: collapse;
	width: 100%;
	
}
.table_style2{
	width: 100%;
}
.all-style{
	border: 1px ridge #666666;
	border-color:#dedbd6;

}
.tr_style1{

}

.style8 {color: #000066}



.td_handbook_style1 {
	vertical-align : top ;
	width:100%;
	color:#0000ff;
}

.td_style1{
	background-color:#ffdb6f;
	border-width:1;
}

.td_style2{
border-spacing: 1px;
background-color:#ffffbb;
border-color:#dedbd6;
border:0;
}
.td_style3{

}
.submit_style1{
 border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#c3daf5); border-left: #2c59aa 1px solid; cursor: pointer; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid

}
.button_style1{
 border-right: #2c59aa 1px solid; 
 padding-right: 2px;
  border-top: #2c59aa 1px solid;
   padding-left: 2px; 
   font-size: 12px;
    filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#c3daf5);
     border-left: #2c59aa 1px solid; 
     cursor: pointer; 
     color: black; 
     padding-top: 2px; 
     border-bottom: #2c59aa 1px solid
}
.reset_style1{
 border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#c3daf5); border-left: #2c59aa 1px solid; cursor: pointer; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid
}
.radio_style1{

}
.checkbox_style1{

}
.select_style1{
width:100%;
}
.select_style2{
width:30%;
}
.textarea_style1{
width:100%;
}
.div_style1{

float :right ;
vertical-align : top ;

}
.div_style2{

float :center ;
vertical-align : top ;

}
.input_style1{
background-color: #ffffcc;
width:30%
}
.input_style2{
background-color: #ffffcc;
width:100%
}
.file_style1{
 border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#c3daf5); border-left: #2c59aa 1px solid; cursor: pointer; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid
}
.btn3_mouseout {
 border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#c3daf5); border-left: #2c59aa 1px solid; cursor: pointer; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid
}
.btn3_mouseover {
 border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#d7e7fa); border-left: #2c59aa 1px solid; cursor: pointer; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid
}
.btn3_mousedown
{
 border-right: #ffe400 1px solid; padding-right: 2px; border-top: #ffe400 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#c3daf5); border-left: #ffe400 1px solid; cursor: pointer; color: black; padding-top: 2px; border-bottom: #ffe400 1px solid
}
.btn3_mouseup {
 border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; font-size: 12px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#ffffff, endcolorstr=#c3daf5); border-left: #2c59aa 1px solid; cursor: pointer; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid
}

