<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.zh.mapper.SecondKindMapper">
	<sql id="qeurySecondKindall">
		SELECT
		config_file_second_kind.second_kind_id,
		config_file_second_kind.second_kind_name,
		config_file_second_kind.first_kind_id,
		config_file_second_kind.second_salary_id,
		config_file_second_kind.second_sale_id
		FROM
		config_file_second_kind
	</sql>

	<resultMap type="com.hr.entity.ConfigFileSecondKind"
		id="queryAllMap">
		<id column="second_Kind_Id" property="secondKindId" />
		<result column="second_Kind_Name" property="secondKindName" />
		<result column="first_Kind_Id" property="firstKindId" />
		<result column="second_Salary_Id" property="secondSalaryId" />
		<result column="second_Sale_Id" property="secondSaleId" />

	</resultMap>

	<resultMap type="com.hr.entity.ConfigFileSecondKind"
		id="extendsQueryAllMap" extends="queryAllMap">
		<association property="configFileFirstKind"
			column="first_Kind_Id"
			select="com.hr.zh.mapper.FirstKindMapper.queryfirstKindById">

		</association>
	</resultMap>



	<!-- List<ConfigFileSecondKind> pagQuerySecondKind(pagination page); -->
	<select id="pagQuerySecondKind" resultMap="extendsQueryAllMap">
		<include refid="qeurySecondKindall"></include>
		LIMIT #{page},#{rows}
	</select>


	<!-- Integer QuerySecondKindCount(); -->

	<select id="QuerySecondKindCount" resultType="java.lang.Integer">
		SELECT
		count(second_kind_id)
		FROM
		config_file_second_kind
	</select>

	<!-- com.hr.zh.mapper.SecondKindMapper.queryThirdKindById(Integer) -->
	<select id="querySecondKindById" resultMap="extendsQueryAllMap">
		<include refid="qeurySecondKindall"></include>
		<where>
			second_kind_id=#{_parameter}
		</where>
	</select>

	<!--二级联动 查询 List<ConfigFileSecondKind> querySecondKindByFirstId(Integer 
		firstKindId); -->
	<select id="querySecondKindByFirstId" resultMap="queryAllMap">
		<include refid="qeurySecondKindall"></include>
		<where>
			first_kind_id=#{_parameter}
		</where>
	</select>

	<!-- Integer saveSecondKind(ConfigFileSecondKind secondKind); -->
	<insert id="saveSecondKind">
		INSERT INTO config_file_second_kind (
		second_kind_name, first_kind_id,
		second_salary_id, second_sale_id)
		VALUES (#{secondKindName},#{firstKindId} ,#{secondSalaryId} ,
		#{secondSaleId});
	</insert>
	<!--Integer updateSecondKind(ConfigFileSecondKind secondKind); -->
	<update id="updateSecondKind">
		UPDATE hr.config_file_second_kind SET
		second_salary_id=#{secondSalaryId},
		second_sale_id=#{secondSaleId}
		WHERE
		second_kind_id=#{secondKindId};

	</update>
	<!-- Integer delSecondKind(Integer secondKindID); -->
	<delete id="delSecondKind">
		delete from config_file_second_kind where
		second_kind_id=#{_parament}
	</delete>


</mapper>