<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.zh.mapper.ThirdKindMapper">

	<sql id="queryThirdkindALL">
		SELECT
		config_file_third_kind.third_kind_id,
		config_file_third_kind.third_kind_name,
		config_file_third_kind.first_kind_id,
		config_file_third_kind.second_kind_id,
		config_file_third_kind.third_kind_sale_id,
		config_file_third_kind.third_kind_is_retail
		FROM
		config_file_third_kind

	</sql>
	<resultMap type="com.hr.entity.ConfigFileThirdKind"
		id="qeuryThirdAll">
		<id column="third_Kind_Id" property="thirdKindId" />
		<result column="third_Kind_Name" property="thirdKindName" />
		<result column="first_Kind_Id" property="firstKindId" />
		<result column="second_Kind_Id" property="secondKindId" />
		<result column="third_Kind_Sale_Id" property="thirdKindSaleId" />
		<result column="third_Kind_Is_Retail"
			property="thirdKindIsRetail" />


	</resultMap>

	<resultMap type="com.hr.entity.ConfigFileThirdKind"
		id="extendsqeuryThirdAll" extends="qeuryThirdAll">
		<association property="configFileFirstKind"
			column="first_Kind_Id"
			select="com.hr.zh.mapper.FirstKindMapper.queryfirstKindById"></association>
		<association property="configFileSecondKind"
			column="second_Kind_Id"
			select="com.hr.zh.mapper.SecondKindMapper.querySecondKindById"></association>

	</resultMap>

	<resultMap type="com.hr.entity.ConfigFileThirdKind"
		id="qeuryThirdAndSecondKindAll" extends="qeuryThirdAll">
		<association property="configFileSecondKind"
			column="second_Kind_Id"
			select="com.hr.zh.mapper.SecondKindMapper.querySecondKindById"></association>

	</resultMap>

	<!--查所有分页 -->
	<select id="pagQueryThirdKind" resultMap="extendsqeuryThirdAll">
		<include refid="queryThirdkindALL"></include>
		LIMIT #{page},#{rows}
	</select>
	<!-- 查询总值 -->
	<select id="QueryThirdKindCount" resultType="java.lang.Integer">
		SELECT
		count(third_kind_id)
		FROM
		config_file_third_kind
	</select>

	<!-- Integer saveThirdKind(ConfigFileThirdKind thirdKind); -->

	<insert id="saveThirdKind">
		INSERT INTO hr.config_file_third_kind (
		third_kind_name,
		first_kind_id, second_kind_id, third_kind_sale_id,
		third_kind_is_retail) VALUES (#{thirdKindName},#{firstKindId}
		,#{secondKindId},
		#{thirdKindSaleId}, #{thirdKindIsRetail});

	</insert>
	<!--Integer updateThirdKind(ConfigFileThirdKind thirdKind); -->
	<update id="updateThirdKind">
		UPDATE config_file_third_kind SET
		third_kind_name=#{thirdKindName},
		third_kind_sale_id=#{thirdKindSaleId},
		third_kind_is_retail=#{thirdKindIsRetail}
		WHERE
		third_kind_id=#{thirdKindId};

	</update>
	<!--Integer delThirdKind(Integer thirdKindID); -->
	<delete id="delThirdKind">
		DELETE from config_file_third_kind where
		third_kind_id=#{_parameter}
	</delete>
	<!-- ConfigFileThirdKind queryThirdKindById(Integer thirdKindID); -->
	<select id="queryThirdKindById"
		resultMap="qeuryThirdAndSecondKindAll">
		<include refid="queryThirdkindALL"></include>
		<where>third_kind_id=#{_parameter}</where>
	</select>
	<!--List<ConfigFileThirdKind> queryThirdKindByIDList(Integer thirdKindID); -->
	<select id="queryThirdKindByIDList" resultMap="qeuryThirdAll">
		<include refid="queryThirdkindALL"></include>
		<where>second_kind_id=#{_parameter}</where>
	</select>

</mapper>